*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 16px "微软雅黑",Arial,Helvetica,sans-serif;
    /*background: #f7f7f7;*/
}
/*超链接的通用样式*/
a{
    text-decoration: none;
    color: #666;
}
ul{
    list-style: none;
}
/*左浮动、右浮动、清除浮动*/
.lt{float: left;}
.rt{float: right;}
.clear:after{
    content: "";
    display: block;
    clear: both;
}
nav{
    width: 100%;
    background: #2396ff;
    padding: 0 50px;
}
/*导航*/
nav>ul{
    width: 1200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
}
nav>ul li{
    width: 112px;
    float: left;
    position: relative;
}
nav>ul>li.rt i{
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}
nav>ul li:first-child{
    text-align: left;
}
nav>ul li:nth-last-child(3){
    margin-left: 100px;
}
nav>ul li img{
    width: 72px;
    vertical-align: middle;
}
nav li a{
    padding-bottom: 10px;
    color: #fff;
}
nav li:not(:first-child):hover{
    background: #2e6da4;
}
nav>ul li.rt:hover{
    background: transparent;
}
nav .nav-img{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
/*二维码下单*/
.shopping{
    width: 220px;
    border: 1px solid #ddd;
    padding: 8px;
    background: #fff;
    position: absolute;
    color: #333;
    left: -90px;
    top: 50px;
    display: none;
}
nav li:hover .shopping{
    display: block;
}
.shopping::before{
    content: '';
    border: 10px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -20px;
    left: 110px;
}
.shopping h3{
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
.shopping img{
    width: 200px;
}
/*主体部分*/
main,
footer,
footer>section{
    width: 100%;
}
.container{
    width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
    font-size: 30px;
    color: #666;
}
.container .title,
.container .active{
    height: 60px;
    line-height: 60px;
}
.container .title{
    background: #eff8fb;
    margin-bottom: 5px;
}
.container .title a{
    color: #7ecaf3;
}
.container .title i{
    margin: 0 15px;
    font-size: 30px;
}
.container .title a:last-child{
    float: right;
}
/*点击时的样式*/
.container .active{
    background: #f5f5f5;
    margin-bottom: 5px;
}
.container .active a{
    color: #999;
    font-size: 30px;
}
.container .active a:last-child{
    float: right;
}
/*内容区*/
.container .content{
    padding: 5px 20px 20px 20px;
    font-size: 14px;
}
.unVisible{
    display: none;
}
.container .content p{
    margin-bottom: 15px;
    line-height: 22px;
}
.container .content h2,
.container .content h3,
.container .content h4{
    margin: 15px 0;
}
.container .content ul{
    margin-bottom: 50px;
    line-height: 26px;
}
.container .content ul a{
    color: #1989fa;
}
.container .content ul span{
    font-size: 18px;
}
.container .content ul img{
    vertical-align: bottom;
    margin-right: 18px;
}
.container .content ul:last-child{
    margin-bottom: 0;
}
.container .content .spe{
    margin: 10px 0;
}
.container .content article{
    padding: 4px;
    text-indent: 2em;
    float: left;
}
.container .content article img{
    width: 190px;
    border: 1px solid #ddd;
    float: left;
    margin-right: 25px;
}
blockquote{
    /*position: relative;*/
    color: #999;
    font-weight: 300;
    border-left: 1px solid #1abc9c;
    margin: 14px 42px 25px 28px;
    padding-left: 14px;
}
/*页脚*/
footer{
    background: #f7f7f7;
}
footer:before{
    content: '';
    display: table;
}
footer>section{
    border-top: 1px solid #f0f0f0;
    margin: 62px 0 16px 0;
}
.footer-info{
    margin: 0 auto;
    margin-top: 30px;
    width: 1200px;
}
footer>section dl a{
    cursor: pointer;
    color: #9d9d9d;
    padding-right: 25px;
    font-size: 12px;
}
footer>section dl{
    float: left;
    margin-right: 110px;
}
footer>section dl dt{
    color: #636363;
    margin-bottom: 8px;
}
.footer-connect{
    float: right;
    border-left: 1px solid #eaeaea;
    padding-left: 36px;
}
.footer-connect p{
    color: #636363;
    margin-bottom: 14px;
}
.footer-connect a{
    cursor: pointer;
    color: #636363;
    font-size: 14px;
}
.footer-connect a i{
    font-size: 28px;
    color: #ccc;
    vertical-align: middle;
}
.footer-connect .phone{
    margin-right: 132px;
}
.footer-connect .mobile{
    width: 265px;
    height: 90px;
}
.footer-connect .mobile img{
    width: 90px;
    height: 90px;
    margin-right: 26px;
}
.footer-connect .mobile h3{
    color: #333;
    margin-bottom: 10px;
    margin-top: 19px;
    font-size: 18px;
}
.footer-connect .mobile p{
    font-size: 14px;
}
.footer-last{
    clear: both;
    padding-top: 50px;
    font-size: 12px;
    text-align: center;
    color: #333;
}
.footer-last a{
    color: #9d9d9d;
}
.footer-last a:hover{
    text-decoration: underline;
}
.footer-last p:first-child a{
    color: #333;
}
.footer-last p:not(:first-child){
    color: #9d9d9d;
}
.footer-last img{
    height: 30px;
    margin-top: 20px;
}