/* 搜索 */
main{
  background-image: url("../images/banner.jpg");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
}
.find{
  min-width: 600px;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  transform: translateY(-50px);
}
.find .col-xs-9{
  border-left: 1px solid #eee;
}
.find #search{
  border: none;
  /*border: 1px solid #eee;*/
  outline: none;
}
.find buttonbutton.btn{
  position: absolute;
  width: 100px;
  height: 50px;
  right: 0;
  border: none;
  background-color: yellow;
}
.find .btn:hover{
  background-color: yellow;
}