/* 搜索 */
main{
  background-image: url("../images/banner.jpg");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
}
.find{
  min-width: 600px;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  transform: translateY(-50px);
}
.find .col-xs-9{
  border-left: 1px solid #eee;
}
.find .col-xs-9 .form-group{
  margin: 0;
  height: 50px;
  line-height: 50px;
}
.find .col-xs-9 .form-group [name='aname']{
  height: 50px;
}
.find [name='cid']{
  padding: 0;
  height: 45px;
}
.find [name='cid']:focus,
.find [name='aname']:focus{
  box-shadow: none;
}
.find #search{
  /*height: 50px;*/
}
.find button.btn{
  position: absolute;
  width: 100px;
  height: 50px;
  right: 0;
  color: #fff;
  border: 1px solid dodgerblue;
  border-radius: 0;
  background-color: dodgerblue;
}
.find button.btn:focus{
  color: #fff;
  border: none;
}
.find .btn:hover{
  background-color: dodgerblue;
}