*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 14px "微软雅黑",Arial,Helvetica,sans-serif;
    background: #f7f7f7;
}
/*超链接的通用样式*/
a{
    text-decoration: none;
    color: #666;
}
ul{
    list-style: none;
}
/*左浮动、右浮动、清除浮动*/
.lt{float: left;}
.rt{float: right;}
.clear:after{
    content: "";
    display: block;
    clear: both;
}
nav{
    width: 100%;
    background: #2396ff;
    padding: 0 50px;
}
/*导航*/
nav>ul{
    width: 1200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
}
nav>ul li{
    width: 112px;
    float: left;
    position: relative;
}
nav>ul li:first-child{
    text-align: left;
}
nav>ul li img{
    width: 72px;
    vertical-align: middle;
}
nav li a{
    padding-bottom: 10px;
    color: #fff;
}
nav .nav-img{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.active{
    border-bottom: 2px solid #fff;
}
/*二维码下单*/
.shopping{
    width: 220px;
    border: 1px solid #ddd;
    padding: 8px;
    background: #fff;
    position: absolute;
    color: #333;
    left: -90px;
    top: 50px;
    display: none;
}
nav li:hover .shopping{
    display: block;
}
.shopping::before{
    content: '';
    border: 10px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -20px;
    left: 110px;
}
.shopping h3{
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
.shopping img{
    width: 200px;
}
/*主体部分*/
.container{
    padding: 30px 50px;
    color: #666;
}
header,
main,
footer{
    width: 1200px;
    background: #fff;
    margin: 0 auto;
}
header{
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}
header>span{
    display: inline-block;
    background: url("../img/my_service7.png") no-repeat 0 50%;
    -webkit-background-size: 24px;
    background-size: 24px;
    padding-left: 35px;
    padding-right: 60px;
}
header>a b{
    font-weight: normal;
    padding: 0 8px;
    background: #62db70;
    color: #fff;
    font-size: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
main{
    margin: 20px auto;
    padding: 30px 0 30px 30px;
}
main h2,
footer h2{
    font-weight: normal;
}
main h3{
    margin: 20px 0 30px;
    color: #666;
    font-weight: 500;
    font-size: 16px;
}
main>.main_question{
    padding-left: 60px;
}
main>.main_question dl{
    width: 277px;
    padding: 30px 20px 0 10px;
    float: left;
}
main dt img,
footer img{
    width: 54px;
    height: 54px;
    margin: 0 5px;
}
main>.main_question li{
    height: 30px;
}
main>.main_question li a:hover{
    color: #1989fa;
}
footer:before{
    content: '';
    display: table;
}
footer h2{
    margin-top: 30px;
    margin-left: 20px;
}
footer dl{
    margin: 30px 0 30px 35px;
    padding-left: 45px;
    float: left;
    width: 555px;
}
footer dl:not(:last-child){
    border-right: 1px dashed #ddd;
}
footer dl dt,
footer dl dd{
    float: left;
}
footer dl dd{
    margin-left: 20px;
    position: relative;
}
footer dl dd p{
    margin-top: 10px;
    color: #666;
}
footer dl dd a{
    position: absolute;
    right: -200px;
    top: 0;
    padding: 10px 20px;
    background: #1989fa;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}